body {
  margin: 10px;
  padding: 10px;
}

.auth-form {
  display: flex;
  border: 4px solid black;
  border-radius: 4px;
  padding: 20px;
  margin: 20px 10px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  margin: 6px 0px;
}

.form-label {
  margin-right: 6px;
}

.form-input {
  border: 2px solid gray;
  margin-left: 8px;
  border-radius: 2px;
}